
  <div class="cover section" style="background-image: url('/images/places/large/<%= @listing.id %>.jpg')"></div>
  <div class="listingbody section">
    <div class="containergeneral listingbody w-container">
      <div class="listingcontainer">
        <div class="listing single">
          <div class="h2"><%= @listing.title %></div>
          <div class="bodycopy caption"><%= @listing.description %></div>
        </div>
        <div class="bookingformdiv">
          <div class="bookingformprice">
            <div class="h3 inline white">£<%= @listing.price_per_night %> <span class="bodycopy">per night</span></div>
          </div>
          <div class="formblock nomargins w-form">
            <form action="/booking/new" id="wf-form-Booking-form" method="post" name="wf-form-Booking-form">
              <input class="textfield w-input" id="startDate" maxlength="256" name="startDate" placeholder="Start date" type="text">
              <input class="textfield w-input" id="endDate" maxlength="256" name="endDate" placeholder="End date" required="required" type="text">
              <input class="button w-button" type="submit" value="Request booking">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
