<form action="/listings/new" method="post">
  <label>Title
    <input type="text" name="title" placeholder="Listing title">
  </label><br />
  <label>Description
    <input type="text" name="description" placeholder="Listing description">
  </label><br />
  <label>Address
    <input type="text" name="address" placeholder="Listing address">
  </label><br />
  <label>Price per night
    <input type="text" name="price_per_night" placeholder="Price per night">
  </label><br />
  <input type="submit" value="Submit listing">
</form>
