<<<<<<< HEAD
<div class="section">
  <div class="containergeneral w-container">
    <div class="h3">Add new listing</div>
    <div class="formblock w-form">
      <form action="/listings/new" id="wf-form-Sign-up-form" method="post" name="wf-form-Sign-up-form">
        <input class="textfield w-input" id="title" maxlength="256" name="title" placeholder="Title" required="required" type="text">
        <input class="textfield w-input" id="description" maxlength="256" name="description" placeholder="Description" required="required" type="text">
        <input class="textfield w-input" id="price" maxlength="256" name="price" placeholder="Price per night" required="required" type="text">
        <input class="button w-button" type="submit" value="Submit listing">
      </form>
    </div>
  </div>
</div>
=======
<form action="/listings/new" method="post">
  <label>Title
    <input type="text" name="title" placeholder="Listing title">
  </label><br />
  <label>Description
    <input type="text" name="description" placeholder="Listing description">
  </label><br />
  <label>Address
    <input type="text" name="address" placeholder="Listing address">
  </label><br />
  <label>Price per night
    <input type="text" name="price_per_night" placeholder="Price per night">
  </label><br />
  <input type="submit" value="Submit listing">
</form>
>>>>>>> master
