.navbar {
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .35);
}

.navlink {
  height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 24px;
}

.navlink:hover {
  border-bottom: 4px solid #0e996d;
  color: #109e71;
}

.navlink.w--current {
  border-bottom: 4px solid #109e71;
  color: #109e71;
}

.logo {
  height: 64px;
  color: #109e71;
  font-size: 32px;
  line-height: 64px;
  font-weight: 700;
}

.h1 {
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
}

.body {
  font-family: 'Droid Sans', sans-serif;
}

.h2 {
  margin-top: 24px;
  font-size: 32px;
  line-height: 40px;
}

.bodycopy {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}

.bodycopy.caption {
  font-size: 14px;
  line-height: 24px;
}

.bodycopy.white {
  color: #fff;
}

.h3 {
  margin-top: 16px;
  font-size: 24px;
  line-height: 32px;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.section.errors {
  padding-bottom: 0px;
  background-color: #e44609;
}

.section.notices {
  padding-bottom: 0px;
  background-color: #fff5ad;
}

.formblock {
  display: inline-block;
  width: 400px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 24px 20px 16px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-color: #fff;
}

.button {
  height: 48px;
  margin-top: 16px;
  margin-bottom: 8px;
  border: 2px solid #109e71;
  border-radius: 3px;
  background-color: #109e71;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.button:hover {
  border-color: #e44609;
  background-color: #e44609;
  color: #fff;
}

.button.menu {
  height: 32px;
  float: right;
  font-size: 12px;
  line-height: 8px;
}

.footer {
  padding-top: 48px;
  padding-bottom: 24px;
  text-align: center;
}

.smallcopy {
  color: #7c7c7c;
  font-size: 12px;
  line-height: 16px;
}

.textfield {
  height: 48px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 23px;
}

.containergeneral {
  padding-top: 16px;
  padding-bottom: 16px;
}

.link {
  color: #0e996d;
  font-weight: 700;
  text-decoration: none;
}

.link:hover {
  color: #e94201;
}

.link.w--current {
  color: #109e71;
  text-decoration: none;
}

.link.w--current:hover {
  color: #e44609;
}

.menubutton {
  width: 64px;
  height: 64px;
  float: right;
  background-color: #109e71;
}

.menubutton.w--open {
  background-color: #109e71;
}

.hambtop {
  position: absolute;
  left: 0px;
  top: 22px;
  right: 0px;
  display: block;
  width: 21px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.hambmid {
  position: absolute;
  left: 0px;
  top: 30px;
  right: 0px;
  display: block;
  width: 21px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.hambbottom {
  position: absolute;
  left: 0px;
  top: 38px;
  right: 0px;
  display: block;
  width: 21px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.listings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.listing {
  display: block;
  min-width: 250px;
  margin-bottom: 64px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33%;
  -ms-flex: 0 33%;
  flex: 0 33%;
  text-align: left;
}

.image {
  width: 100%;
}

.h4 {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.formmenu {
  padding-left: 24px;
  float: right;
}

.ulflash {
  padding-left: 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.ulflash.dark {
  color: #000;
}

.liflash {
  margin-bottom: 16px;
}

@media (max-width: 991px) {
  .section {
    padding-right: 16px;
    padding-left: 16px;
  }
  .footer {
    padding-right: 16px;
    padding-left: 16px;
  }
  .listing {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .navlink {
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
  .navlink:hover {
    border-bottom-style: none;
    color: #d8d8d8;
  }
  .button.menu {
    height: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: none;
    font-size: 16px;
    line-height: 24px;
  }
  .button.menu:hover {
    border-style: none;
    background-color: #109e71;
    color: #d8d8d8;
  }
  .navmenu {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #109e71;
  }
  .formmenu {
    margin-bottom: 0px;
    padding-left: 0px;
    float: none;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .navlink {
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
  .navlink:hover {
    border-bottom-style: none;
  }
  .navlink.w--current {
    color: #fff;
  }
  .formblock {
    width: 100%;
  }
  .navmenu {
    background-color: #109e71;
  }
  .menubutton {
    width: 64px;
    height: 64px;
    padding-right: 16px;
    padding-left: 16px;
    float: right;
    background-color: #109e71;
    text-align: center;
  }
  .menubutton.w--open {
    width: 64px;
    height: 64px;
    padding: 0px;
    background-color: #109e71;
    color: #fff;
  }
  .hambtop {
    position: absolute;
    left: 0px;
    top: 22px;
    right: 0px;
    display: block;
    width: 21px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  .hambmid {
    position: absolute;
    left: 0px;
    top: 30px;
    right: 0px;
    display: block;
    width: 21px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  .hambbottom {
    position: absolute;
    left: 0px;
    top: 38px;
    right: 0px;
    display: block;
    width: 21px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  .listing {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

