a {
  color: #000;
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .35);
}

.navlink {
  height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 24px;
}

.navlink:hover {
  border-bottom: 4px solid #0e996d;
  color: #109e71;
}

.navlink.w--current {
  border-bottom: 4px solid #109e71;
  color: #109e71;
}

.logo {
  height: 64px;
  color: #109e71;
  font-size: 32px;
  line-height: 64px;
  font-weight: 700;
}

.h1 {
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
}

.body {
  font-family: 'Droid Sans', sans-serif;
}

.h2 {
  margin-top: 24px;
  font-size: 32px;
  line-height: 40px;
}

.bodycopy {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}

.bodycopy.caption {
  font-size: 14px;
  line-height: 24px;
}

.bodycopy.white {
  color: #fff;
}

.bodycopy.status {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: #7c7c7c;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.bodycopy.status.green {
  background-color: #109e71;
}

.bodycopy.status.red {
  background-color: #e44609;
}

.bodycopy.status.grey {
  background-color: #969696;
}

.h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.h3.inline {
  margin-top: 0px;
}

.h3.inline.white {
  color: #fff;
  text-align: left;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.section.errors {
  padding-bottom: 0px;
  background-color: #e44609;
}

.section.notices {
  padding-bottom: 0px;
  background-color: #fff5ad;
}

.section.cover {
  height: 80vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/bd68e087-6372-4b4d-ad7d-7738da5777c4.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.listingbody {
  padding-top: 0px;
}

.formblock {
  display: inline-block;
  width: 400px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 24px 20px 16px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-color: #fff;
}

.formblock.nomargins {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.button {
  height: 48px;
  margin-top: 16px;
  margin-bottom: 8px;
  border: 2px solid #109e71;
  border-radius: 3px;
  background-color: #109e71;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.button:hover {
  border-color: #e44609;
  background-color: #e44609;
  color: #fff;
}

.button.menu {
  height: 32px;
  margin-left: 8px;
  float: right;
  font-size: 12px;
  line-height: 8px;
}

.button.menu.grey {
  border-color: #969696;
  background-color: #969696;
}

.button.menu.grey:hover {
  border-color: #e44609;
  background-color: #e44609;
}

.button.inline {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}

.button.smallform {
  height: 32px;
  margin-left: 8px;
  float: right;
  font-size: 12px;
  line-height: 8px;
}

.button.smallform.grey {
  border-color: #969696;
  background-color: #969696;
}

.button.smallform.grey:hover {
  border-color: #e44609;
  background-color: #e44609;
}

.footer {
  padding-top: 48px;
  padding-bottom: 24px;
  text-align: center;
}

.smallcopy {
  color: #7c7c7c;
  font-size: 12px;
  line-height: 16px;
}

.textfield {
  height: 48px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 23px;
}

.textfield.inline {
  max-width: 360px;
  margin-right: 16px;
  margin-bottom: 0px;
  float: left;
}

.containergeneral {
  padding-top: 16px;
  padding-bottom: 16px;
}

.containergeneral.listingbody {
  display: block;
  padding-top: 0px;
}

.containergeneral.listingbody.top {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.link {
  color: #0e996d;
  font-weight: 700;
  text-decoration: none;
}

.link:hover {
  color: #e94201;
}

.link.w--current {
  color: #109e71;
  text-decoration: none;
}

.link.w--current:hover {
  color: #e44609;
}

.menubutton {
  width: 64px;
  height: 64px;
  float: right;
  background-color: #109e71;
}

.menubutton.w--open {
  background-color: #109e71;
}

.hambtop {
  position: absolute;
  left: 0px;
  top: 22px;
  right: 0px;
  display: block;
  width: 21px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.hambmid {
  position: absolute;
  left: 0px;
  top: 30px;
  right: 0px;
  display: block;
  width: 21px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.hambbottom {
  position: absolute;
  left: 0px;
  top: 38px;
  right: 0px;
  display: block;
  width: 21px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.listings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.listing {
  display: block;
  min-width: 250px;
  margin-bottom: 64px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33%;
  -ms-flex: 0 33%;
  flex: 0 33%;
  text-align: left;
  text-decoration: none;
}

.listing.single {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}

.image {
  width: 100%;
}

.h4 {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.h4.shrinking {
  margin-top: 0px;
}

.formmenu {
  padding-left: 16px;
  float: right;
}

.ulflash {
  padding-left: 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.ulflash.dark {
  color: #000;
}

.liflash {
  margin-bottom: 16px;
}

.listingcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bookingformdiv {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transform: translate(0px, -64px);
  -ms-transform: translate(0px, -64px);
  transform: translate(0px, -64px);
}

.bookingformprice {
  height: 64px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(49, 47, 47, .9);
}

.requestscontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.rowwithtwocolumns {
  margin-bottom: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.ulmedium {
  padding-top: 0px;
  padding-bottom: 24px;
  padding-left: 0px;
  list-style-type: none;
}

.limedium {
  margin-bottom: 16px;
  padding-top: 16px;
}

.previewmedium {
  max-width: 120px;
  float: left;
}

.text-block {
  float: left;
}

.descriptioncontainermedium {
  max-width: 300px;
  padding-left: 16px;
  float: left;
  text-align: left;
}

.datetime {
  color: #969696;
  font-weight: 400;
}

.column {
  text-align: left;
}

.column-2 {
  text-align: left;
}

.userpicmedium {
  width: 64px;
  height: 64px;
  margin-top: 0px;
  float: left;
  border: 3px solid #109e71;
  border-radius: 80px;
  -webkit-transform: translate(0px, -8px);
  -ms-transform: translate(0px, -8px);
  transform: translate(0px, -8px);
}

.formblocksmall {
  margin-bottom: 8px;
}

@media (max-width: 991px) {
  .section {
    padding-right: 16px;
    padding-left: 16px;
  }
  .footer {
    padding-right: 16px;
    padding-left: 16px;
  }
  .textfield.inline {
    max-width: 275px;
  }
  .listing {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .limedium {
    border-top: 1px solid #000;
  }
  .descriptioncontainermedium {
    max-width: 225px;
  }
  .formblocksmall {
    padding-left: 8px;
    float: right;
  }
}

@media (max-width: 767px) {
  .navlink {
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
  .navlink:hover {
    border-bottom-style: none;
    color: #d8d8d8;
  }
  .navlink.w--current {
    color: #fff;
  }
  .button.menu {
    height: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: none;
    font-size: 16px;
    line-height: 24px;
  }
  .button.menu:hover {
    border-style: none;
    background-color: #109e71;
    color: #d8d8d8;
  }
  .button.inline {
    float: none;
  }
  .textfield.inline {
    max-width: 360px;
    margin-bottom: 24px;
    float: none;
  }
  .navmenu {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #109e71;
  }
  .listing {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .formmenu {
    margin-bottom: 0px;
    padding-left: 0px;
    float: none;
    text-align: center;
  }
  .listingcontainer {
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .bookingformdiv {
    margin-top: 0px;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .forminline {
    display: inline-block;
  }
  .limedium {
    border-top: 1px solid #dbdbdb;
  }
  .formblocksmall {
    float: right;
  }
}

@media (max-width: 479px) {
  .navlink {
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
  .navlink:hover {
    border-bottom-style: none;
  }
  .navlink.w--current {
    color: #fff;
  }
  .formblock {
    width: 100%;
  }
  .textfield.inline {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    min-width: 100px;
    margin-right: 0px;
  }
  .navmenu {
    background-color: #109e71;
  }
  .menubutton {
    width: 64px;
    height: 64px;
    padding-right: 16px;
    padding-left: 16px;
    float: right;
    background-color: #109e71;
    text-align: center;
  }
  .menubutton.w--open {
    width: 64px;
    height: 64px;
    padding: 0px;
    background-color: #109e71;
    color: #fff;
  }
  .hambtop {
    position: absolute;
    left: 0px;
    top: 22px;
    right: 0px;
    display: block;
    width: 21px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  .hambmid {
    position: absolute;
    left: 0px;
    top: 30px;
    right: 0px;
    display: block;
    width: 21px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  .hambbottom {
    position: absolute;
    left: 0px;
    top: 38px;
    right: 0px;
    display: block;
    width: 21px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  .listing {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .h4.shrinking {
    font-size: 12px;
    line-height: 16px;
  }
  .listingcontainer {
    display: inline-block;
    text-align: center;
  }
  .form-block {
    display: inline-block;
    width: 100%;
  }
  .limedium {
    border-top: 1px solid #dbdbdb;
  }
  .previewmedium {
    max-width: 60px;
  }
  .descriptioncontainermedium {
    max-width: 202px;
  }
  .formblocksmall {
    float: left;
  }
}

