<html>
<head>
  <title>Bookings</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <p><%= @listing.title %></p>
  <p><%= @listing.description %></p>
  <p><%= @listing.price_per_night %></p>
  <p><%= @listing.user.email %></p>
  <form method = 'post' action = '/booking/new'>
     <input id="datepicker" type="text" name="start_date" placeholder = "start date">
     <input id="datepicker2" type="text" name="end_date" placeholder = "end date" >
    <input type = "submit" value = "Request booking">
  </form>

</body>
</html>
