<!DOCTYPE html>
<hmtl lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Log in</title>
  </head>
  <body>
    <form method="post" action="/log_in">
      Email:<input name="email" type="email">
      <br></br>
      Password:<input name = "password" type="password">
      <br></br>
      <input type = "submit" value = "Log in">
    </form>
  </body>
</html>
