  <div class="section">
    <div class="containergeneral w-container">
      <div class="h3">Log in to mbnb:</div>
      <div class="formblock w-form">

        <!-- INTEGRATION STARTS -->
        <form action="/log_in" id="wf-form-Log-in-form" method="post" name="wf-form-Log-in-form">
          <input class="textfield w-input" id="email" maxlength="256" name="email" placeholder="Email address" type="text">
          <input class="textfield w-input" id="password" maxlength="256" name="password" placeholder="Password" required="required" type="password">
          <input class="button w-button" type="submit" value="Log in">
        </form>
        <!-- INTEGRATION ENDS -->

      </div>
    </div>
    <div class="containergeneral w-container">
      <div class="bodycopy">Don't have an account? <a href="/sign_up" class="link">Sign up</a></div>
    </div>
  </div>
