<!DOCTYPE html>
<hmtl lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sign up</title>
  </head>
  <body>
    <form method="post" action="/sign_up">
      Email:<input name="email" type="email">
      <br></br>
      First Name:<input name="first name" type="text">
      <br></br>
      Last Name:<input name="surname" type="text">
      <br></br>
      Password:<input name = "password" type="password">
      <br></br>
      <input type = "submit" value = "Sign up">
    </form>
  </body>
</html>
