<!DOCTYPE html>
<hmtl lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sign up</title>
  </head>
  <body>

    <form method="get" action="/sign_up">
      Email:<input name="email" type="email">
      


    </form>



  </body>
</html>
