  <div class="section">
    <div class="containergeneral w-container">
      <div class="h1">Live at work, anywhere</div>
    </div>
    <div class="containergeneral w-container">
      <div class="h3">Sign up to mbnb:</div>
      <div class="formblock w-form">

        <!-- INTEGRATION STARTS -->
        <form action="/sign_up" id="wf-form-Sign-up-form" method="post" name="wf-form-Sign-up-form">
          <input class="textfield w-input" id="email" maxlength="256" name="email" placeholder="Email address" type="text">
          <input class="textfield w-input" id="first_name" maxlength="256" name="first_name" placeholder="First name" type="text">
          <input class="textfield w-input" id="surname" maxlength="256" name="surname" placeholder="Surname" type="text">
          <input class="textfield w-input" id="password" maxlength="256" name="password" placeholder="Create a password" required="required" type="password">
          <input class="button w-button" type="submit" value="Sign up">
        </form>
        <!-- INTEGRATION ENDS -->

      </div>
    </div>
    <div class="containergeneral w-container">
      <div class="bodycopy">Already have an account? <a href="log-in.html" class="link">Log in</a></div>
    </div>
  </div>
